* {
	box-sizing: border-box;
}

body {
	background-image: url('images/patt.png');
	font-family: 'Roboto', sans-serif;
}

.header {
	background-color: rgba(255,255,255,0.75);
}

.container {
	width: 1170px;
	height: 100px;
	margin: 0 auto;
	padding: 25px 0;
	text-align: center;
}

.col-3 {
	width: 25%;
	padding-top: 7px;
}

.col-6 {
	width: 50%;
}

[class*=col-] {
	float: left;
}

.row:after, .menu:after, .sidebar:after, .page_:after, .sellpanel:after, .first_row:after, .second_row:after, .third_row:after {
	content: "";
	clear: both;
	display: block;
}

.menu a {
	display: block;
	font-size: 21px;
	color: #2c71b8;
	text-decoration: none;
	line-height: 50px;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.submenu {
	position: absolute;
	display: none;
}

.submenu li {
	margin-left: -1px;
	width: 301px;
}

.submenu a {
	background-color: #2c71b8;
	color: white;
	text-align: left;
	padding-left: 33px;
}

ul li:hover .submenu {
	display: block;
}

.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}

.arrow_blue {
	background-image: url('images/arrow_blue.png');
	background-repeat: no-repeat;
	background-position: 125px;
}

.search {
	width: 192px;
	margin-left: 30px;
}

input[type=text] {
	position: relative;
	font-size: 21px;
	width: 192px;
	height: 40px;
	padding-left: 20px;
	border: 1px solid #2c71b8;
	background-color: transparent;
}

::placeholder {
  color: #2c71b8;
  font-weight: 300;
}

.header_submit {
	position: absolute;
	margin-left: 60px;
	margin-top: -35px;
    height: 30px;
    width: 30px;
    border: 0;
    -webkit-appearance: none;
    background-image: url('images/glass.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2c71b8;
}

.cart {
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url('images/cart.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.cart, .cart_number div {
	margin-left: 30px;
}

.cart_number {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #2c71b8;
	color: white;
	font-size: 12px;
	margin: -10px -10px;
	position: absolute;
}

.cart_number p {
	width: 20px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

.sidebar div {
	float: left;
}

.display {
	height: 400px;
	border-bottom: 1px solid white;
	background-image: url('images/right_arrow.png'),
	url('images/left_arrow.png');
	background-repeat: no-repeat;
	background-position: 87% 50%,
	17.4% 50%;
}

.page {
	width: 1170px;
	min-height: 2200px;
	margin: 0 auto;
}

.page div {
	float: left;
}

.sidepanel {
	width: 25%;
}

.sidepanel .sidepanel_content {
	width: 270px;
	height: 845px;
	border-right: 1px solid white;
	background-color: rgba(255,255,255,0.25);
}

.mainpanel {
	width: 75%;
}

.mainpanel p {
	margin: 15px 0px;
}

.mainpanel h1 {
	margin: 0px 0px 30px 0px;
}

.items .item div {
	position: relative;
	width: 270px;
	height: 470px;
	background-color: transparent;
	margin-top: 25px;
	margin-right: 15px;
	margin-bottom: 180px;
}

div .content_header {
	float: left;
}

div .content_inside {
	position: absolute;
	width: 270px;
	height: 40px;
	margin-left: 570px;
}

.items .item .pic {
	position: relative;
	background-position: center;
	background-color: transparent;
	background-color: rgba(255,255,255,0.75);
	background-image:
	url('images/left_line.png'),
	url('images/right_line.png'),
	url('images/square.png'),
	url('images/heart.png');
	background-repeat: no-repeat;
	background-position: 
	0px 0px,
	0px 0px,
	95% 5%,
	95% 31%;
	width: 270px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.items .item .text {
	background-image: url('images/box.png');
	border-bottom: 1px solid white;
	margin: 0 auto;
}

.items .item .item_price {
	margin: 0 auto;
}

.items .item .bg1 {
	border: 1px solid #2c71b8;
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	margin: -72px 0px 0px 112px;
}

.items .item .bg2 {
	border: 1px solid #2c71b8;
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	margin: -32px 0px 0px 112px;
}

main h1 {
	font-size: 48px;
	font-weight: bold;
	color: white;
}

main h2 {
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
}

main .mainpanel p {
	font-size: 14px;
	color: #96b8dc;
}

main .items p {
	font-size: 21px;
	color: white;
}

main .display p {
	height: 400px;
	font-size: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .bread_crumbs {
	text-decoration: underline;
}

main .sort a {
	width: 270px;
	height: 40px;
	background-color: #2c71b8;
	color: white;
	border: 1px solid white;
	display: flex;
	align-items: center;
	padding: 20px;
	text-decoration: none;
}

main .sort li {
	position: relative;
}

main .subsort {
	position: absolute;
	display: none;
}

.sort a:hover {
	background-color: white;
	color: #2c71b8;
}

ul li:hover .subsort {
	display: block;
	z-index: 1;
}

main .item_price {
	font-size: 48px;
	color: white;
	font-weight: bold;
}

main .item_price span {
	font-size: 21px;
}

.footer {
	background-color: transparent;
	background-color: rgba(255,255,255,0.75);
}

.fontainer {
	width: 1170px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fontainer p {
	color: #2c71b8;
	font-size: 21px;
}

.sidepanel_content p {
	font-size: 21px;
	color: white;
	margin: 30px 0px 15px 30px;
}

input[type="checkbox"] {
	display: none;
}

label {
	position: relative;
}

label:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 1px solid white;
	position: absolute;
	margin-left: -30px;
}

input[type="checkbox"]:checked + label:before {
	border: 1px solid white;
	background-color: white;
}

.device_type, .color_type {
	margin-bottom: 60px;
}

.sbm_btn input [type=submit] {
	width: 210px;
	height: 50px;
}

input [type=checkbox] {
	display: table-column;
}

[class*=type] {
	width: 270px;
}

.sidepanel_content li {
	color: white;
	font-size: 21px;
	margin: 0px 0px 25px 60px;
}

.sidepanel_content li:last-child {
	margin-bottom: -50px;
}

.options {
	position: relative;
	margin-top: 50px;
}

.main_submit {
	width: 210px;
	height: 50px;
	background-color: #2c71b8;
	border: 1px solid white;
	color: white;
	font-size: 21px;
	font-family: roboto;
	margin-left: 30px;
	margin-top: 10px;
}

.main_submit:hover {
	background-color: white;
	color: #2c71b8;
}


