* {
	box-sizing: border-box;
}

body {
	background-image: url('images/patt.png');
	font-family: 'Roboto', sans-serif;
}

.header {
	background-color: rgba(255,255,255,0.75);
}

.container {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	padding: 25px 0;
	text-align: center;
}

.col-3 {
	width: 25%;
	padding-top: 7px;
}

.col-6 {
	width: 50%;
}

[class*=col-] {
	float: left;
}

.row:after, .menu:after, .sidebar:after {
	content: "";
	clear: both;
	display: block;
}

.menu a {
	display: block;
	font-size: 21px;
	color: #2c71b8;
	text-decoration: none;
	line-height: 50px;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.submenu {
	position: absolute;
	display: none;
}

.submenu li {
	margin-left: -1px;
	width: 301px;
}

.submenu a {
	background-color: #2c71b8;
	color: white;
	text-align: left;
	padding-left: 33px;
}

ul li:hover .submenu {
	display: block;
}

.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}

.search {
	width: 200px;
	margin-left: 30px;
}

input[type=text] {
	position: relative;
	font-size: 21px;
	width: 200px;
	height: 40px;
	padding-left: 20px;
	border: 1px solid #2c71b8;
	background-color: transparent;
}

input::-webkit-input-placeholder {
	color: #2c71b8;
}

input[type=submit] {
	position: absolute;
	margin-left: 65px;
	margin-top: -35px;
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

.cart {
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url('images/cart.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.cart, .cart_number div {
	margin-left: 30px;
}

.cart_number {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #2c71b8;
	color: white;
	font-size: 12px;
	margin: -10px -10px;
	position: absolute;
}

.cart_number p {
	width: 20px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

.sidebar div {
	float: left;
}